<!DOCTYPE html>
<html>
<head>
	<title>My Auth App</title>
	<link rel="stylesheet" href="/css/style.css">
	<!-- Latest compiled and minified CSS & JS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
</head>
<body>
	<div class="container">
	 <div class="row">
	 	<nav class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	 		<% include partials/alerts %>
	 		<a href="/" class="btn btn-primary">Home</a>
	 	 		<a href="/auth/login" class="btn btn-primary">Login</a>
	 	 		<a href="/auth/signup" class="btn btn-primary">Sign Up</a>
	 	 		<a href="/auth/logout" class="btn btn-primary">Logout</a>
	 	 		<a href="/profile" class="btn btn-primary">Profile</a>
	 	</nav>
	 	 <div class="row">
	 	 	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	 	 	<hr size="50" style="background-color:#707377;">
	 	 		<%- body %>
	 	 		<body style="background-color:#eaecef;"></body>
	 	 	</div>
	 	 </div>

	 </div>
	</div>
</body>
</html>