.personality {
	
}
.results {
	border-style: solid;
	border-color: black;
	border-size: 1px;
	margin-right: 10px;
	position: center;

}
body {
  margin-left: 20px;
}

.results{
	background-color: white;
}
.topverbiage{
	background-color: white;
	border-size: 1px;
	border-style: solid;
	border-color: black;
	padding: 5px;
}
.values {
	margin-bottom: 5px;
}
.container {
	text-align: left;
}
h3 {
	text-align: center;
}
.summary {
	text-align: left;
}
.hometext {
	background-color: white;
	z-index: 100;
	position: absolute;
	padding: 5%;
	color: #0E77AF;
	font-family: 'Droid Sans', sans-serif;
}

img {
    opacity: 0.2;
    filter: alpha(opacity=20); 
}